<style>
  p {
    font-size: {{this.screenFontSize}};
    transform: translateY(-5rem) rotate({{this.screenTextRotation}});
  }
</style>

<ConfettiBox
  @colorVariation={{this.colorVariation}}
  @sizeMultiplier={{this.confettiSizeMultiplier}}
  @numberOfConfetti={{this.numberOfConfetti}}
/>

<div class="container">
  <h1>Senior Front-end Engineer</h1>
  <div class="content">
    <p>{{this.screenText}}</p>
  </div>
</div>
